body {
  width: 100%;
}

img {
  width: 100%;
}

.logo {
  width: 6%;
  position: fixed;
  margin: 1%;
}

.item {
    float: left;
    width: 33.33%;
    margin-top: -3px;
}

.image{
    max-width: 100%;
    margin: 0;
    display: block;
}

.image:after {
    clear:both;
}

a {
  transition: opacity 0.5s ease;
}

a:hover {
  opacity: 0.5;
}


@media screen and (max-width: 1000px) {

  .item {
    width: 50%;
  }

}

@media screen and (max-width: 700px) {
  /* 10 columns for larger screens */

  .item {
    width: 50%;
  }

  .logo {
    width: 10%;
  }

}

@media screen and (max-width: 510px) {

  .item {
    width: 100%;
  }

  .logo {
    width: 14%;
  }

}
